<!-- <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detail</title>
  <link rel="stylesheet" type="text/css" href="./cs<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">s/style.css">

</head>
<body>
    <h1>商品詳細:画面</h1>
    <hr>
</body>
</html> -->


{% extends 'base.html' %}
{% block title %}Detail{% endblock %}
{% block header %}商品詳細:画面{% endblock %}
{% block content %}
<table border="1">
<table border="1">
    <tr><td>商品ID</td><td>2</td></tr>
    <tr><td>商品名</td><td>肉まん</td></tr>
</table>
{% endblock %}
